*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#001f43 ,#000000);
    color: rgb(255, 255, 255);
    background-size: cover;
}

/* body::-webkit-scrollbar{
    background-color: #0045990a;
} */



.discover-section-container,.info-section{
        position: relative;
        height: 60vh;
        overflow: hidden;
}
.discover-container,.info-container{
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}

.discover-container{
    visibility: hidden;
    opacity: 0;
    animation: slider 20s linear infinite;
}

#slide0{
    animation-delay: 0s;
}

#slide1 {
    animation-delay: 4s;
}

#slide2{
    animation-delay: 8s;
}

#slide3{
    animation-delay: 12s;
}

#slide4{
    animation-delay: 16s;
}
@keyframes slider{
    0%
    {
        visibility: hidden;
        opacity: 0;
    }

    2% {
             visibility: visible;
             opacity: 1;
         }

    18% {
             visibility: visible;
             opacity: 1;
         }
    
    20% {
             visibility: visible;
             opacity: 1;
        }
 
      
    20%,100% {
                    visibility: hidden;
                    opacity: 0;
                }
}

.discover-movie{
    padding: 10%;
    padding-top: 3%;
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
}


.discover-cover-img img{
    width: 100vw;
    height: 55vh;
    object-fit: fill;
    filter: blur(15px);
    
}
.discover-details{
    padding: 2rem;
}

.discover-overview{
    line-height: 1.5rem;
}


/* SEARCH */
.search{
    justify-content: flex-end;
    display: flex;
    padding: 0 2rem;
    margin-bottom: 1rem;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 3;
}
.search form input{
    padding: 0.3rem;
    border-radius: 2rem;
    height: 2rem;
    width: 20rem;
}

.search form input:focus{
    border: none;
    outline: none;
    outline-offset: 0;
}

.search-results{
    margin-top: 0.1rem;
}

/* .search-results ul{
position: absolute;
 top: 50%; 
left: 50%;
transform: translate(-50%, -50%);
z-index: 5;
   
} */

.search-results ul a{
    text-decoration: none;
}

.result{
    /* background-color: white; */
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.237);
    padding: 3rem 5rem;
    font-weight: bold;
    display: flex;
    color: rgb(255, 255, 255);
}

.result-details{
    margin-left: 2rem;
    margin-top: 1rem;

}
.result-details h2{
    color: #004699;
    margin-bottom: 0.7rem;
}
.result-details p{
    line-height: 1.5rem;
    text-align: justify;
}
.result-img{
    height: 15rem;
}
/* trending section */
.trending_header{
    display: flex;
    justify-content: space-between;
}
.movie-section{
    padding: 0.5rem 1rem;
}

.movie-section h1{
    margin-bottom: 0.5rem;
}
.all_movies{
    display: flex;
    gap: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: trasnsform all 40s ease;
    z-index: 1;
}

.all_movies::-webkit-scrollbar{
    display: none;
}


.movie-card:hover{
    transform:scale(1.05);
    opacity: 1;
    cursor: pointer;
}

.movie-card img{
    height: 10rem;
}
.skip{
    display: none;
}

/* details */
.genres{
    display: flex;
}

.genres p{
    background-color: white;
    color: black;
    padding: 0.4rem;
    margin-right: 0.5rem;
}
.seasons-section{
    padding: 2.5% 10%;
}
.seasons-section img{
    height: 15rem;
    object-fit: cover;
}

.all-seasons{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.seasons-container h3{
    margin-bottom: 1.2rem;
}

.sm-section{
    padding: 5% 10%;
    padding-top: 0;
}
.sm-movie-cntainer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.sm-poster img{
    height: 15rem;
}

.alternaive_img{
    height: 15rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 1.5rem;

}

.review {
    display: none;
}

.review-container{
    padding: 5% 10%;
}

.full-review{
    margin: 2rem 0;
    background-color: #00459930;
    padding: 2rem;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.084);
}
.author_name{
    display: flex;
    align-items: center;
}
.author_name img{
    height: 4rem;
}

.author_name h3{
    margin-left: 1rem;
}
.review-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    align-items: center;
}

.review-content{
    line-height: 1.5rem;
}

.author_name img{
    border-radius: 50%;
}

.back-btn{
    position: fixed;
    bottom: 0;
    padding: 2rem;
}

@media screen and (max-width:768px){
    .discover-overview {
            display: none;
        }
    .discover-movie{
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        padding: 10%;
    }
}
@media screen and (max-width:480px){
    .discover-movie{
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        padding: 10%;
    }
    .discover-img img{
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            object-fit: cover;
    }

    .discover-overview{
        display: none;
    }
        .seasons-section img{
        height: 12rem;
    }

        .search {
            position: static;
            padding: 0;
        }
}


.trending_header {
    flex-direction: column-reverse;
}
.search form input {
    width: 100%;
}

/* 404 page */

.error-body{
    height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
}
.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:350px) {
    .discover-img img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .discover-title h1{
        font-size: 1rem;
    }

   .seasons-section img{
    height: 12rem;
   }
   .all-seasons{
    justify-content: center;
   }
}