<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
</head>
<body>
        <div class="back-btn">
      <a href="{{url_for('discover_movies')}}">
        <img src="{{url_for('static', filename='images/back-icon.png')}}" alt="" srcset="">
      </a>
      
    </div>
        <!-- SEARCH -->
             <div class="search-results">
                    <ul>
                    {% for data in search_data %}
                        {% if data.original_title is defined and data.media_type != "person" %}
                            <a href="{{url_for('details', type=data.media_type,id=data.id)}}">
                                <li class="result">
                                    <img src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" class="result-img">
                                    <div class="result-details">
                                        <h2>{{data.original_title}}</h2> 
                                        <p>{{data.overview}}</p>
                                    </div>
                                
                                    
                                </li>
                            </a>
                        {% elif data.name is defined and data.media_type != "person" %}
                                <a href="{{url_for('details', type=data.media_type,id=data.id)}}">
                                    <li class="result">
                                        <img src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" class="result-img">
                                        <div class="result-details">
                                            <h2>{{data.name}}</h2>
                                            <p>{{data.overview}}</p>
                                        </div>
                                        
                                    </li>
                                </a>
                            
                        {% else %}
                             <li class="result" style="display: none;"></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
</body>
</html>